{{ attach_library('bluescope_colourswitcher/colourswitcher') }}
<div class="upper-row">
    <div class="wrapper">
        <div class="col-2">
            <div class="roofcolor">
                <h3>Roofing color</h3>
                <div class="roof-color-name">sample</div>
            </div>
            <div class="roof-color">
                <h3>Choose a roof colour</h3>
                <div class="color-panel">
                    <div class="color-div"><a class="yellow" href="javascript:;"></a></div>
                    <div class="color-div"><a class="blue" href="javascript:;"></a></div>
                    <div class="color-div"><a class="white" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                    <div class="color-div"><a class="color-name" href="javascript:;"></a></div>
                </div>
            </div>
            <div class="style-house">
                <h3>Change style of house</h3>
                <div class="house-image">
                    <div><a href="javascript:;"><img src="{{ base_path ~ directory }}/images/Contemporary1.png"></a></div>
                </div>
            </div>
        </div>
        <canvas id="canvas" color="blue" width="900px" height="600px"></canvas>
    </div>
</div>
<div class="scheme">
    <div class="wrapper">
        <h2>Complementary Color Scheme</h2>
        <div class="roofing">
            <h3>Roofing colour</h3>
            <div class="scheme-roof-name">Roof name</div>
        </div>
        <div class="scheme-row1">
            <div class="downpipes scheme-row">
                <div class="scheme-downpipes-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Downpipes & Gutters</h3>
                    <div class="scheme-downpipes-name">color name</div>
                </div>
            </div>
            <div class="fasia scheme-row">
                <div class="scheme-fasia-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Fascia</h3>
                    <div class="scheme-fasia-name">color name</div>
                </div>
            </div>
            <div class="garage scheme-row">
                <div class="scheme-garage-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Garage</h3>
                    <div class="scheme-garage-name">color name</div>
                </div>
            </div>
        </div>
        <div class="scheme-row2">
            <div class="wall scheme-row">
                <div class="scheme-wall-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Wall</h3>
                    <div class="scheme-wall-name">color name</div>
                </div>
            </div>
            <div class="window scheme-row">
                <div class="scheme-window-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Window</h3>
                    <div class="scheme-window-name">color name</div>
                </div>
            </div>
            <div class="door scheme-row">
                <div class="scheme-door-color"></div>
                <div class="scheme-text-wrapper">
                    <h3>Door</h3>
                    <div class="scheme-door-name">color name</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="color-schemes">
    <div class="wrapper">
        <h2>Popular Color Schemes</h2>
        <div class="scheme-switcher">
            <div class="scheme-name">
                <a href="javascript:;"><img name="scheme1" src="{{ base_path ~ directory }}/images/scheme1.png"></a>
            </div>
            <div class="scheme-name">
                <a href="javascript:;"><img name="scheme2" src="{{ base_path ~ directory }}/images/scheme2.png"></a>
            </div>
            <div class="scheme-name">
                <a href="javascript:;"><img name="scheme3" src="{{ base_path ~ directory }}/images/scheme3.png"></a>
            </div>
        </div>
    </div>
</div>
